.todo-item {
    background-color: #ffffff;
    margin-bottom: 10px;
}

.todo-item-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}

.todo-item-btn-done {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-item-text {
    word-break: break-all;
}
