@import '~antd/dist/antd.css';

.app {
    min-height: 100vh;
}

.text-white {
    color: #fafafa;
}

.app-content {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.todo-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.todo-list > div:nth-child(1) {
    flex-grow: 1;
}

.create-todo-btn {
    align-self: flex-start;
}
